body {
 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  

h2 {
  color: #002772;
  height: 30px;
}

.background {
  width: 100%;
  height: 100vh;
}
.background-woman {
  background-color: #fde2ff;
}

.background-man {
  background-color: #d6e6ff;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(
    -50%,
    -50%
  );
}
.card {
  display: flex;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: center;
  width: 1250px;
  background-color: #ffff;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 640px;
  overflow: hidden;
  box-shadow: 0
    2px
    4px
    rgba(
      0.1,
      0.1,
      0.1,
      0.5
    );
}
.category {
  color: #3f3f3f;
  font-size: 22px;
}
.left-side {
  flex: 1;
  padding-right: 2px;
}

.left-side
  img {
  width: 80%;
  height: auto;
  aspect-ratio: 1/1; /* Menyesuaikan rasio aspek gambar */
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}

.right-side {
  padding-top: 1px;
  flex: 1;
  overflow: hidden;
}

.title {
  font-size: 32px;
  margin-bottom: 10px;
  height: auto; /* Tambahkan tinggi tetap */
  overflow: hidden; /* Sembunyikan konten yang melebihi tinggi tetap */
}

.content {
  margin-bottom: 20px;
}

.content-pass {
  text-align: center;
  padding-left: 20px;
  position: relative;
  justify-content: center;
}

.name {
  font-size: 25px;
  margin-bottom: 5px;
}

.price {
  font-size: 30px;
  font-weight: bold;
  color: #002772;
  margin-bottom: 10px; /* Ubah nilai margin-bottom menjadi 5px */
  margin-top: 10px; /* Tambahkan nilai margin-top sebesar 5px */
}
hr {
  margin-bottom: 1px;
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-buy {
  /* Gaya tombol Buy Now */
  background-color: #002772;
  color: #ffff;
  font-family: Poppins;
  font-size: 20px;
  padding: 8px
    16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.btn-next {
  /* Gaya tombol Next Product */
  background-color: #ffff;
  font-family: Poppins;
  color: #002772;
  font-size: 20px;
  padding: 8px
    16px;
  border: 1px
    solid
    #002772;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

/* Hover pada tombol */
.btn-buy:hover,
.btn-next:hover {
  opacity: 0.8;
}
textarea {
  background-color: transparent; /* Atur latar belakang menjadi transparan */
  border: none; /* Hilangkan border */
  resize: none; /* Nonaktifkan fitur resize */
  font-family: Inter; /* Gunakan font yang sama dengan elemen sekitarnya */
  padding: 0; /* Hilangkan padding */
  outline: none; /* Hilangkan outline saat di-focus */
  font-size: 18px;
}

/* <----- Rating -----> */
.kategori {
  display: flex;
  align-items: center;
}

.kategori
  > div:first-child {
  margin-right: auto;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.star {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #002772; /* Warna bintang */
  margin-right: 4px;
}

.star2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px
    solid
    #002772; /* Warna bintang tidak terisi */
  margin-right: 4px;
}

.rating-value {
  margin-left: 8px;
  /* font-weight: bold; */
  font-size: 14px;
  padding-right: 8px;
  color: #3f3f3f;
}

/* <---Unavailable Product---> */
.next-button {
  border: 3px
    solid
    #002772;
  background-color: #ffff;
  color: #002772;
  padding: 10px
    20px;
  width: 60vh;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.next-button:hover {
  opacity: 0.8;
}

.background-image {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -1;
}

.color-men {
  
}
.color-women {
  border-color: #720060;
  color: #720060;
}
.color-women
  .btn-buy {
  background-color: #720060 !important;
}

.card
  .btn-buy.color-women {
  background-color: #720060 !important;
}

.color-default {
  background-color: linear-gradient(
    to
      bottom,
    #dcdcdc
      65%,
    #ffffff
      50%
  );
  border-color: #dcdcdc;
}

.color-women
  .star {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #720060; /* Warna bintang */
  margin-right: 4px;
}
.color-women
  .star2 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px
    solid
    #720060; /* Warna bintang tidak terisi */
  margin-right: 4px;
}

.btn-buy {
  color: #ffffff;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Adjust the height as needed */
}

.loader {
  border: 8px
    solid
    #f3f3f3; /* Light grey */
  border-top: 8px
    solid
    #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin
    2s
    linear
    infinite;
}

@keyframes spin {
  0% {
    transform: rotate(
      0deg
    );
  }
  100% {
    transform: rotate(
      360deg
    );
  }
}
@font-face {
  font-family: Poppins;
  src: url(/public/Poppins-Mediums.ttf/);
}
@font-face {
  font-family: Montserrat;
  src: url(/public/Montserrat-Regular.ttf/);
}
@font-face {
  font-family: Inter;
  src: url(/public/Inter-Regular.ttf/);
}
